@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center space">
    <h1 class="display-4">Welcome to my page!</h1>
    <h3>In this page you will learn a little more about me.</h3>
</div>
<div>
    <img src="~/img/movies.jpg" />
    <p class="space">My name is Juan Orellana. I am from Guatemala, and I love watching movies. It is one of my favorite things to do! I feel that they are machines to transport into other people's minds and learn from them. If I could, I would watch movies every single day.</p>
</div>
<div>
    <h3>Why I love movies</h3>
    <p>I grew up watching movies with my family. I remember going to the store with my parents every week and then enjoying some quality time together.</p>
    <br />
    <p>As I grew, I began to do this by myself. Everyday, as I returned from school, I would search for thought-provoking or critically acclaimed movies and would watch a different one.</p>
</div>
<div class="space">
    <h3>Going to theaters</h3>
    <div>
        <img src="~/img/theater.jpeg" />
        <p class="space">Nowadays, I seldom have time to watch movies while I'm in the middle of a semester. But every now and then, I make time to go to the movies with friends. I love to go and experience a good story with them.</p>

    </div>
</div>